* {
    box-sizing: border-box;
}

body {
    color: #2B2B2B;
    background-color: #e4e6e9;

}
p {
    color: #2B2B2B;

}
h1 {
    color: #1F3A5F;
    text-align: center;

}
h2 {
    color: #3A5F8C;
    text-align: center;
}

.header {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    border: solid 1px #3A5F8C;
}

.nav__link {
    color: #e6a6b3;
    background-color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
    border: 2px solid #e6a6b3;
    margin: 2px;
    text-decoration: none;
}
.nav__link:hover {
    color: #f5f7fa;
    background-color: #e6a6b3;
}

.item:hover {
    background-color: #e6a6b3;
}

.header__name {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.header__tagline {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem;
    text-align: center;
}

.nav__item {
    display: inline-block;
}

.nav__list {
    text-align: center;
}

.hero__title {
    color: #3A5F8C;
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    margin: 3rem 1rem 1rem;
}

.hero__subtitle {
    color: #2B2B2B;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.hero__description {
    text-align: center;
    color: #2B2B2B;
    padding: 1rem;
    margin: 1rem;
}

.hero__actions {
    text-align: center;
    font-weight: bold;
}
.button--primary {
    color: #FFFFFF;
    background-color:#e6a6b3;
    font-size: 1rem;
    padding: 1rem;
    margin: auto;
    text-decoration: none;
}

.button--secondary {
    color: #e6a6b3;
    background-color: #f5f7fa;
    font-size: 1rem;
    padding: 1rem;
    margin: auto;
    text-decoration: none;
}

.hero__stats {
    text-align: center;
}
.stat {
    font-weight: bold;
    display: inline-block;
    margin: 2rem;
}

.stat__number {
    color: #e6a6b3;
    font-size: 3rem;
    padding: 1rem;
    margin: 1rem;
    font-weight: bold;
    display: block;
}

.stat__label {
    color: #2B2B2B;
    font-size: 1rem;
    padding: 1rem;
    display: block;
}

.about {
    text-align: justify;
    padding: 4rem;
    margin: 1rem auto;
    max-width: 800px;
}

.about__intro {
    font-size: 1rem;
}

.quote {
    border-left: solid 4px #3A5F8C;
    padding: 3rem;
}

.quote__author {
    text-align: right;
    display: block;
}

.values__title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.values__item {
    padding: 1rem;
}

.values__list {
    list-style: none;
}

.projects__description {
    text-align: center;
}

.project {
    text-align: justify;
    padding: 4rem;
    margin: 1rem auto;
    max-width: 800px;
}

.project:hover {
    background-color: #e4e6e9;
    border: solid 2px #3a5f8c;
}

.project__technologies {
    color: #3A5F8C;
    font-weight: bold;
}

.project__link {
    display: inline-block;
    padding: 1rem;
    color: #3A5F8C;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    border: solid 1px #3A5F8C;
}

.project__link:hover {
    color: #e4e6e9;
    background-color: #3A5F8C;
}

.tag {
    display: inline-block;
    padding: 1rem;
    margin: 10px;
}

.skills {
    padding: 4rem;
    margin: 1rem auto;
    max-width: 800px;
}

.skills:hover {
    border: solid 2px #e6a6b3;
}

.contact {
    padding: 4rem;
    max-width: 800px;
    color: #e4e6e9;
    background-color: #3A5F8C;
    margin: 1rem auto;
    max-width: 800px;
}

.contact__title {
    color: #2B2B2B;
}

.contact__method {
    margin: 1rem;
}

.button--large {
    display: block;
}

.project__badge {
    color: #FFFFFF;
    background-color: #3A5F8C;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
}

.footer__nav {
    text-align: center;
}

.footer__link {
    color: #FFFFFF;
    background-color: #e6a6b3;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    text-decoration: none;
}